<html>
  <head>
    <style>
body {
    	  font-family: Helvetica;
        color: pink;
        background-color: gray;
        font-size: 25pt;
        text-align: center;
        padding-top: 1em;
      }
    </style>
  </head>
  <body>
  <a href="https://genius.com/artists/Ari-lennox">Ari Lennox</a>
    <img src={{artist_pic}}>
    <img src={{album_cover}}>
  <h1>song title: {{song}}</h1>
  <h2>recent tweets</h2>
  
  <footer class="w3-container w3-yellow">
<div class="w3-container">
  <div class="w3-panel w3-border">
    <p>{{tweet1}}</p>
  <div class="w3-panel w3-border">
    <p>{{tweet2}}</p>
  <div class="w3-panel w3-border">
    <p>{{tweet3}}</p>
  </div>
  <title>W3.CSS</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

  </body>
</html>